.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid rgba(70, 130, 180, 0.8);
  transition: background-color 0.5s, color 0.5s;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  padding: 20px;
  background-color: var(--card-bg-color, #ffffff);
}

.card-large {
  height: auto; /* Automatically adjusts for two images */
}

.card-small {
  height: auto; /* Automatically adjusts for one image */
}

.cardImageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.cardImage {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.cardImage:hover {
  transform: scale(1.05);
}
