:root {
  /* Light mode colors */
  --card-bg-color: #ffffff;
  --card-border-color: rgba(70, 130, 180, 0.8);
  --bubble-bg-color: #f5f5f5;
  --bubble-text-color: #000000;
}

[data-theme="dark"] {
  /* Dark mode colors */
  --card-bg-color: #333333;
  --card-border-color: rgba(100, 100, 100, 0.8);
  --bubble-bg-color: #444444;
  --bubble-text-color: #ffffff;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid var(--card-border-color);
  transition: background-color 0.5s, color 0.5s;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  padding: 20px;
  background-color: var(--card-bg-color);
}

.card-large {
  height: auto; /* Automatically adjusts for two images */
}

.card-small {
  height: auto; /* Automatically adjusts for one image */
}

.cardImageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.cardImage {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.cardImage:hover {
  transform: scale(1.05);
}

.content {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.2rem;
  background-color: var(--bubble-bg-color);
  color: var(--bubble-text-color);
  padding: 10px 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  position: relative;
  text-align: center;
  max-width: 80%;
  align-self: center;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s, color 0.5s;
}

.content::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 15px;
  border-style: solid;
  border-color: var(--bubble-bg-color) transparent transparent transparent;
  transition: border-color 0.5s;
}
